.head {
  background-color: #faab18;
  color: #fff;
  height: 15vh;
  display: flex;
  align-items: center;
  font-family: 'Lobster Two', cursive;
}

.head img {
  height: 90%;
  margin: 8px;
}

.logo {
  height: 100%;
}

header h3 {
  margin-top: 7vh;
}