.main-page {
  padding: 40px;
}

.hideBtn {
  visibility: hidden !important;
}

.totalInput {
  font-size: 16px;
  background: #464c5a;
  color: black;
  border: none;
}

.deleteBtn {
  background: #00c853;
}